*,::after,::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
   
}
.header {
    height:10vh;  
    width:100%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    border-bottom: 1px solid var(--primary-border-color);
    box-shadow: 0 0px 1px 1px rgb(165, 163, 163);

}
 

.Board {
    width:300px;
    height:300px;
    margin:0 auto;
    align-self:center;
    justify-self: center;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(3, 100px);
 
    grid-auto-flow: row;
}

.game-board {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:80vh;
}
 
.options__menu {
     display: none;
     list-style: none;
     border:1px solid #a3a3a3;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    

}
.options__list {
    display:flex;  
    width:100%;
    cursor:pointer;
    padding:1em 2em;

}
.options__menu > * + *{
    border-top: 1px solid rgb(197, 192, 192);
    
   
}
.options--toggle {
    display:none;
}


.options--toggle:checked ~ .options__menu{
    display: block;
    top:100%;
    right:1em;
    position:absolute;
 

}
.options--toggle--label { 
    margin-right:1em;
    margin-left:auto;
    padding:2em; 
    display:flex;
    height:100%;
    align-items:center;
    cursor:pointer;
    
}
.options--toggle--label span,
.options--toggle--label span::after,
.options--toggle--label span::before {
    display:block;
    background: black;
    width:5px;
    height:5px;    
    border-radius: 50%;
    
}
.options--toggle--label span::after,
.options--toggle--label span::before {
  content:'';
  position:absolute;
}

.options--toggle--label span::after {
    top:6vh;

}
.options--toggle--label span::before {
    bottom:6vh;
}

.timer {
   
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;    
     
    text-align: center;
    padding:1.5em 3em;
 }

